
export(
       combinations,
       ddirichlet,
       drop.levels,
       even,
       foldchange,
       foldchange2logratio,
       frameApply,
       inv.logit,
       invalid,
       logit,
       logratio2foldchange,
       mixedorder,
       mixedsort,
       odd,
       permutations,
       permute,
       quantcut,
       rdirichlet,
       running
       )

