useDynLib(gtools)

export(
       addLast,
       ask,
       assert,
       ASCIIfy,
       binsearch,
       capture,
       checkRVersion,
       combinations,
       ddirichlet,
       defmacro,
       even,
       first,
       foldchange,
       foldchange2logratio,
       getDependencies,
       inv.logit,
       invalid,
       keywords,
       last,
       left,
       lastAdd,
       logit,
       logratio2foldchange,
       mixedorder,
       mixedsort,
       odd,
       permutations,
       permute,
       quantcut,
       right,
       rdirichlet,
       running,
       scat,
       setTCPNoDelay,
       smartbind,
       sprint,
       stars.pval,
       strmacro
       )

S3method(first, default)
S3method(first, list   )

S3method(last,  default)
S3method(last,  list   )

S3method(left,  data.frame)
S3method(left,  matrix)

S3method(right, data.frame)
S3method(right, matrix)

