
export(
       Args,
       aggregate.table,
       combine,
       elem,
       env,
       interleave,
       is.what,
       keep,
       matchcols,
       nobs,
       read.xls,
       rename.vars,
       remove.vars,
       reorder.factor,
       trim
)

importFrom(gtools, odd, invalid)

S3method(nobs,data.frame)
S3method(nobs,default)
S3method(nobs,lm)
S3method(reorder,factor)


